/build
/.idea
/.gradle
/gradle
/MultiCamera/gradle
/MultiCamera/.idea
/MultiCamera/gradlew
/MultiCamera/gradlew.bat
/MultiCamera/MultiCamera.iml
/MultiCamera_Android.iml
/*.iml
*.iml
./AndroidProject_Root.iml
./GoogleDriveTest/GoogleDriveTest.iml
./GoogleDriveTest/gradlew
./GoogleDriveTest/.gradle
./GoogleDriveTest/.gradle/
./GoogleDriveTest/gradle
./GoogleDriveTest/gradlew.bat
./GoogleDriveTest/gradlew
./GoogleDriveTest/build
./GoogleDriveTest/build/

