.gradle
.gradle/
.gradle/*
.idea
.idea/
.idea/*
build
build/
build/*
gradlew
gradlew.bat
gradle
gradle/
*.iml
*.properties
BluetoothLauncher/*.log
BluetoothLauncher/build
BluetoothLauncher/build/
BluetoothLauncher/build/*
BluetoothLauncher/*.iml
GoogleDriveTest/*.log
GoogleDriveTest/build
GoogleDriveTest/build/
GoogleDriveTest/build/*
GoogleDriveTest/*.iml
MultiCamera/*.log
MultiCamera/build
MultiCamera/build/
MultiCamera/build/*
MultiCamera/*.iml
MyAlarm/*.log
MyAlarm/build
MyAlarm/build/
MyAlarm/build/*
MyAlarm/*.iml
MyToolLib/*.log
MyToolLib/build
MyToolLib/build/
MyToolLib/build/*
MyToolLib/*.iml
androidActivityAnim/
androidActivityAnim
HealthTV/*.log
HealthTV/build
HealthTV/build/
HealthTV/build/*
HealthTV/*.iml
TVRemote/*.log
TVRemote/build
TVRemote/build/
TVRemote/build/*
TVRemote/*.iml





